<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bienvenido</title>
</head>
<body>
  <h1>¡Hola!</h1>
  <p>Has enviado un correo de recuperacion de contraseña.</p>
  <p>Este es el token: {{token}}.</p>
</body>
</html>
